/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
@include angular-material-theme($app-theme);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6 { // no idea why the typography setting in the theme doesn't work on all components
 font-family: $font-family;
}
