<mat-table [dataSource]="list$ | async">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="place">
    <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <cofund-place-address [place]="row.place"></cofund-place-address>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

    <mat-cell *matCellDef="let row">
      <mat-select [value]="row.status" (selectionChange)="changeStatus(row)">
        <mat-option value="PENDING">Pending</mat-option>
        <mat-option value="ACCEPTED">Accepted</mat-option>
        <mat-option value="PAID">Paid</mat-option>
        <mat-option value="DECLINED">Declined</mat-option>
      </mat-select>
    </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['id', 'amount', 'place', 'status']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id', 'amount', 'place', 'status']"></mat-row>
</mat-table>

