@import '../../theme';

.statistic-container {
  height: 90%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistic-row {
  width: auto;
}

.statistic-entry {
  margin: 32px;
  line-height: 48px;
  font-size: 48px;
  text-align: center;
}
